<div class="box-section">
  <div class="login-container">
    <h2>Login</h2>
    <form>
      <div class="form-field">
        <input #emailInput class="form-control" type="text" placeholder="Email" name="email" />
      </div>
      <div class="form-field">
        <input #passwordInput class="form-control" type="text" placeholder="Password" name="password" />
      </div>
      <div class="button-group">
        <button type="button" class="sign-up-button" routerLink="/signup">Sign Up</button>
        <button type="button" (click)="onLoginButtonClick(emailInput.value, passwordInput.value)">Login</button>
      </div>

    </form>

  </div>
</div>
