
@import './styles/main.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: color(green);
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, color(turquoise),color(green), color(success));
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}


